:root{
    --color-shadow-rgb: 0, 0, 0, 0.2;
    --elevation-0: 0px 0px 0px 0px rgb(var(--color-shadow-rgb)), 0px 0px 0px 0px rgb(var(--color-shadow-rgb)), 0px 0px 0px 0px rgb(var(--color-shadow-rgb));
    --elevation-1: 0px 3px 1px -2px rgb(var(--color-shadow-rgb)), 0px 2px 2px 0px rgb(var(--color-shadow-rgb)), 0px 1px 5px 0px rgb(var(--color-shadow-rgb));
    --elevation-2: 0px 2px 4px -1px rgb(var(--color-shadow-rgb)), 0px 4px 5px 0px rgb(var(--color-shadow-rgb)), 0px 1px 10px 0px rgb(var(--color-shadow-rgb));
    --elevation-3: 0px 5px 5px -3px rgb(var(--color-shadow-rgb)), 0px 8px 10px 1px rgb(var(--color-shadow-rgb)), 0px 3px 14px 2px rgb(var(--color-shadow-rgb));
    --elevation-4: 0px 5px 5px -3px rgb(var(--color-shadow-rgb)), 0px 8px 10px 1px rgb(var(--color-shadow-rgb)), 0px 3px 14px 2px rgb(var(--color-shadow-rgb));
    --elevation-5: 0px 8px 10px -6px rgb(var(--color-shadow-rgb)), 0px 16px 24px 2px rgb(var(--color-shadow-rgb)), 0px 6px 30px 5px rgb(var(--color-shadow-rgb));
}