
@font-face {
    font-family: 'Nunito Sans';
    font-stretch: 100%;
    src: url(fonts/Nunito_Sans.woff2) format('woff2');
}

:root{
    /* display - large */
    --display-large-font-family-name: 'Nunito Sans';
    --display-large-font-family-style: Regular;
    --display-large-font-weight: 400px;
    --display-large-font-size: 57px;
    --display-large-line-height: 64px;
    --display-large-letter-spacing: -0.25px;
    /* display - medium */
    --display-medium-font-family-name: 'Nunito Sans';
    --display-medium-font-family-style: Regular;
    --display-medium-font-weight: 400px;
    --display-medium-font-size: 45px;
    --display-medium-line-height: 52px;
    --display-medium-letter-spacing: 0px;
    /* display - small */
    --display-small-font-family-name: 'Nunito Sans';
    --display-small-font-family-style: Regular;
    --display-small-font-weight: 400px;
    --display-small-font-size: 36px;
    --display-small-line-height: 44px;
    --display-small-letter-spacing: 0px;
    /* headline - large */
    --headline-large-font-family-name: 'Nunito Sans';
    --headline-large-font-family-style: Regular;
    --headline-large-font-weight: 400px;
    --headline-large-font-size: 32px;
    --headline-large-line-height: 40px;
    --headline-large-letter-spacing: 0px;
    /* headline - medium */
    --headline-medium-font-family-name: 'Nunito Sans';
    --headline-medium-font-family-style: Regular;
    --headline-medium-font-weight: 400px;
    --headline-medium-font-size: 28px;
    --headline-medium-line-height: 36px;
    --headline-medium-letter-spacing: 0px;
    /* headline - small */
    --headline-small-font-family-name: 'Nunito Sans';
    --headline-small-font-family-style: Regular;
    --headline-small-font-weight: 400px;
    --headline-small-font-size: 24px;
    --headline-small-line-height: 32px;
    --headline-small-letter-spacing: 0px;
    /* body - large */
    --body-large-font-family-name: 'Nunito Sans';
    --body-large-font-family-style: Regular;
    --body-large-font-weight: 400px;
    --body-large-font-size: 16px;
    --body-large-line-height: 24px;
    --body-large-letter-spacing: 0.5px;
    /* body - medium */
    --body-medium-font-family-name: 'Nunito Sans';
    --body-medium-font-family-style: Regular;
    --body-medium-font-weight: 400px;
    --body-medium-font-size: 14px;
    --body-medium-line-height: 20px;
    --body-medium-letter-spacing: 0.25px;
    /* body - small */
    --body-small-font-family-name: 'Nunito Sans';
    --body-small-font-family-style: Regular;
    --body-small-font-weight: 400px;
    --body-small-font-size: 12px;
    --body-small-line-height: 16px;
    --body-small-letter-spacing: 0.4px;
    /* label - large */
    --label-large-font-family-name: 'Nunito Sans';
    --label-large-font-family-style: Medium;
    --label-large-font-weight: 500px;
    --label-large-font-size: 14px;
    --label-large-line-height: 20px;
    --label-large-letter-spacing: 0.1px;
    /* label - medium */
    --label-medium-font-family-name: 'Nunito Sans';
    --label-medium-font-family-style: Medium;
    --label-medium-font-weight: 500px;
    --label-medium-font-size: 12px;
    --label-medium-line-height: 16px;
    --label-medium-letter-spacing: 0.5px;
    /* label - small */
    --label-small-font-family-name: 'Nunito Sans';
    --label-small-font-family-style: Medium;
    --label-small-font-weight: 500px;
    --label-small-font-size: 11px;
    --label-small-line-height: 16px;
    --label-small-letter-spacing: 0.5px;
    /* title - large */
    --title-large-font-family-name: 'Nunito Sans';
    --title-large-font-family-style: Regular;
    --title-large-font-weight: 400px;
    --title-large-font-size: 22px;
    --title-large-line-height: 28px;
    --title-large-letter-spacing: 0px;
    /* title - medium */
    --title-medium-font-family-name: 'Nunito Sans';
    --title-medium-font-family-style: Medium;
    --title-medium-font-weight: 500px;
    --title-medium-font-size: 16px;
    --title-medium-line-height: 24px;
    --title-medium-letter-spacing: 0.15px;
    /* title - small */
    --title-small-font-family-name: 'Nunito Sans';
    --title-small-font-family-style: Medium;
    --title-small-font-weight: 500px;
    --title-small-font-size: 14px;
    --title-small-line-height: 20px;
    --title-small-letter-spacing: 0.1px;
}

.display-large {
    font-family: var(--display-large-font-family-name);
    font-style: var(--display-large-font-family-style);
    font-weight: var(--display-large-font-weight);
    font-size: var(--display-large-font-size);
    letter-spacing: var(--display-large-letter-spacing );
    line-height: var(--display-large-line-height);
}

.display-medium {
    font-family: var(--display-medium-font-family-name);
    font-style: var(--display-medium-font-family-style);
    font-weight: var(--display-medium-font-weight);
    font-size: var(--display-medium-font-size);
    letter-spacing: var(--display-medium-letter-spacing);
    line-height: var(--display-medium-line-height);
}

.display-small {
    font-family: var(--display-small-font-family-name);
    font-style: var(--display-small-font-family-style);
    font-weight: var(--display-small-font-weight);
    font-size: var(--display-small-font-size);
    letter-spacing: var(--display-small-letter-spacing);
    line-height: var(--display-small-line-height);
}

.headline-large {
    font-family: var(--headline-large-font-family-name);
    font-style: var(--headline-large-font-family-style);
    font-weight: var(--headline-large-font-weight);
    font-size: var(--headline-large-font-size);
    letter-spacing: var(--headline-large-letter-spacing);
    line-height: var(--headline-large-line-height);
}

.headline-medium {
    font-family: var(--headline-medium-font-family-name);
    font-style: var(--headline-medium-font-family-style);
    font-weight: var(--headline-medium-font-weight);
    font-size: var(--headline-medium-font-size);
    letter-spacing: var(--headline-medium-letter-spacing);
    line-height: var(--headline-medium-line-height);
}

.headline-small {
    font-family: var(--headline-small-font-family-name);
    font-style: var(--headline-small-font-family-style);
    font-weight: var(--headline-small-font-weight);
    font-size: var(--headline-small-font-size);
    letter-spacing: var(--headline-small-letter-spacing);
    line-height: var(--headline-small-line-height);
}

.body-large {
    font-family: var(--body-large-font-family-name);
    font-style: var(--body-large-font-family-style);
    font-weight: var(--body-large-font-weight);
    font-size: var(--body-large-font-size);
    letter-spacing: var(--body-large-letter-spacing);
    line-height: var(--body-large-line-height);
}

.body-medium {
    font-family: var(--body-medium-font-family-name);
    font-style: var(--body-medium-font-family-style);
    font-weight: var(--body-medium-font-weight);
    font-size: var(--body-medium-font-size);
    letter-spacing: var(--body-medium-letter-spacing);
    line-height: var(--body-medium-line-height);
}

.body-small {
    font-family: var(--body-small-font-family-name);
    font-style: var(--body-small-font-family-style);
    font-weight: var(--body-small-font-weight);
    font-size: var(--body-small-font-size);
    letter-spacing: var(--body-small-tracking);
    line-height: var(--body-small-line-height);
}

.label-large {
    font-family: var(--label-large-font-family-name);
    font-style: var(--label-large-font-family-style);
    font-weight: var(--label-large-font-weight);
    font-size: var(--label-large-font-size);
    letter-spacing: var(--label-large-tracking);
    line-height: var(--label-large-line-height);
}

.label-medium {
    font-family: var(--label-medium-font-family-name);
    font-style: var(--label-medium-font-family-style);
    font-weight: var(--label-medium-font-weight);
    font-size: var(--label-medium-font-size);
    letter-spacing: var(--label-medium-letter-spacing);
    line-height: var(--label-medium-line-height);
}

.label-small {
    font-family: var(--label-small-font-family-name);
    font-style: var(--label-small-font-family-style);
    font-weight: var(--label-small-font-weight);
    font-size: var(--label-small-font-size);
    letter-spacing: var(--label-small-letter-spacing);
    line-height: var(--label-small-line-height);
}

.title-large {
    font-family: var(--title-large-font-family-name);
    font-style: var(--title-large-font-family-style);
    font-weight: var(--title-large-font-weight);
    font-size: var(--title-large-font-size);
    letter-spacing: var(--title-large-letter-spacing);
    line-height: var(--title-large-line-height);
}

.title-medium {
    font-family: var(--title-medium-font-family-name);
    font-style: var(--title-medium-font-family-style);
    font-weight: var(--title-medium-font-weight);
    font-size: var(--title-medium-font-size);
    letter-spacing: var(--title-medium-letter-spacing);
    line-height: var(--title-medium-line-height);
}

.title-small {
    font-family: var(--title-small-font-family-name);
    font-style: var(--title-small-font-family-style);
    font-weight: var(--title-small-font-weight);
    font-size: var(--title-small-font-size);
    letter-spacing: var(--title-small-letter-spacing);
    line-height: var(--title-small-line-height);
}